.bg-image {
  background-image: url(img/20241116_200653\ takoyaki.jpg);
  background-size: contain;
}

.shadow-text {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid-item {
  text-align: center;
}
.grid-item img {
  width: 100%;
  height: auto;
  /*img=h200w200*/
}
.grid-item p {
  margin-top: 0.5rem;
  font-weight: 600;
}
.footer {
  text-align: center;
  padding: 1rem;
  color: #7d7d7d;
}
.footer a {
  color: #1e90ff;
  text-decoration: none;
}

.w-full {
  height: 400px;
  width: 600px;
}

.hidden {
  display: none;
}
.transition-height {
  transition: height 0.3s ease;
  overflow: hidden;
}

.bg-azure {
  font-family: "Playfair Display", serif;
}
